* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .materias{
    font-family: cursive;
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    font-weight: bold;
    color: #23232e;
    
  }
  .materias{
    display: flex;
    justify-content: center; /* centraliza o texto horizontalmente */
    align-items: center; /* centraliza as linhas verticalmente */
    margin: 70px 0; /* 30px -> margens superior e inferior */
 }
  .materias::before,
.materias::after{
   content: '';
   position: relative;
   height: 2px; /* espessura das linhas */
   background: #666; /* cor das linhas */
   max-width: 25%; /* largura mínima das linhas */
   flex-grow: 1; /* distribui a largura das linhas por igual */
}

.titulo span{
   color: #fff; /* cor do texto */
   padding: 0 15px; /* distancia do texto às linhas */
   font-weight: bold; /* negrito */
   font-size: 2em; /* tamanho do texto */
}
  


a {
  color: #fef4f4;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 25PX;
  margin-right: 25px;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #2e2828;
  height: 8vh;
}


.nav-list {
  list-style: none;
  display: flex;

}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fef3f3;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 82vh;
    background: #2e2828;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
  

  .b{
    left: 44%;
    margin-top: 2%;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
  }

  .b {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.b:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.b:active {
    color: #000
}

.b:active:after {
    background: transparent;
}

.b:hover:before {
    opacity: 1;
}

.b:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.b {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.b:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.b:active {
    color: #000
}

.b:active:after {
    background: transparent;
}

.b:hover:before {
    opacity: 1;
}

.b:after {
    z-index: -1;
    content: '';
    
    width: 100%;
    height: 100%;
    background: #23232e;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.paragrafo{
  margin: 3%;
  margin-top: 7%;
  text-align: center;
  font-size: 20px;
  color: #23232e;
}

.divbotao{
  text-align: center;

}



